# Nuxt dev/build outputs
.output
.data
.nuxt
.nitro
.cache
dist

# Node dependencies
node_modules

# Logs
logs
*.log

# Misc
.DS_Store
.fleet
.idea

# Local env files
.env
.env.*
!.env.example


.vs/
*.suo
*.user
*.userosscache
*.sln.docstates
[Bb]in/
[Oo]bj/
*.dll
*.pdb
project.lock.json
project.fragment.lock.json
artifacts/
appsettings.Development.json
appsettings.Local.json
*.nupkg
**/packages/*
!**/packages/build/
.vscode/
.DS_Store
Thumbs.db
Desktop.ini
TestResults/
*.trrx
